<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="DBConnect" connectionString="Driver={MySQL ODBC 5.1 Driver}; server=localhost;uid=root;password=litchi@6883;database=iguardian_fee_hhps;OPTION=0;" />
   
  </connectionStrings>
    <system.web>
        <compilation batchTimeout="32340" debug="true" defaultLanguage="c#" targetFramework="4.0" />
      <customErrors mode="Off" />
        <sessionState timeout="300" />
    </system.web>
</configuration>
